@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    height: 100vh;
    background-color: black;
}

input::file-selector-button,p.filelabel{
    display: inline;
}

p.filelabel{
    color:white;
}

video {
    position:absolute;
    top: 1500px;
    left: 40px;
}

#visualizer {
    aspect-ratio: 16 / 9;
    width: min(1920px, 50vw);
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 1px solid white;
}

@media screen and (max-width: 1000px) {
    #visualizer {
        transform-origin: center center;
        transform: translate(-50%, -50%) rotate(90deg);
        width: min(1920px, 60vh);
    }
}
